<a href="https://colab.research.google.com/github/AzouzSaoussen/Paradigme-du-programmation/blob/main/TP2_Paradigme_FunctionnalProgramming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
class Employee:
   countEmp=0
   def __init__(self, name, salary):
         self.name=name
         self.salary=salary
         Employee.countEmp+=1

   def displayCount(self):
       print("There are %d employees" % Employee.countEmp)

   def displayDetails(self):
      print("Name:", self.name, ", Salary:", self.salary)

In [12]:
e1 = Employee("zara", 80000)
e2=Employee("saoussen",100000)
e3=Employee("ahmed",30000)
e4=Employee("hamma ", 25000)
e4.displayCount()
print("Details of all employee:")
e1.displayDetails()
e2.displayDetails()
e3.displayDetails()
e4.displayDetails()

There are 8 employees
Details of all employee:
Name: zara , Salary: 80000
Name: saoussen , Salary: 100000
Name: ahmed , Salary: 30000
Name: hamma  , Salary: 25000

In [13]:
hasattr(e1, 'age')

False

In [14]:
getattr(e1,'salary')

80000

In [15]:
setattr(e1,'salary',120000)

In [16]:
getattr(e1,'salary')

120000

In [17]:
delattr(e2,'salary')

In [20]:
hasattr(e2, 'salary')

False

In [21]:
e1.displayDetails()

Name: zara , Salary: 120000

In [22]:
e2.displayDetails()

AttributeError: ignored

In [23]:
e5 = Employee("test", 80000)

In [24]:
e5.displayDetails()

Name: test , Salary: 80000

In [26]:
print(Employee.__doc__) 
print(Employee.__name__)
print(Employee.__module__)             
print(Employee.__class__)              
print(Employee.__dict__) 
print(Employee.__bases__)
#------                            
print(Employee.__class__.__doc__)      
print(Employee.__class__.__dict__)     
#------
print(Employee.__class__.__name__)     
print(Employee.__class__.__bases__)

None
Employee
__main__
<class 'type'>
{'__module__': '__main__', 'countEmp': 9, '__init__': <function Employee.__init__ at 0x7fce3e8747a0>, 'displayCount': <function Employee.displayCount at 0x7fce3e874830>, 'displayDetails': <function Employee.displayDetails at 0x7fce3e8748c0>, '__dict__': <attribute '__dict__' of 'Employee' objects>, '__weakref__': <attribute '__weakref__' of 'Employee' objects>, '__doc__': None}
(<class 'object'>,)
type(object_or_name, bases, dict)
type(object) -> the object's type
type(name, bases, dict) -> a new type
{'__repr__': <slot wrapper '__repr__' of 'type' objects>, '__call__': <slot wrapper '__call__' of 'type' objects>, '__getattribute__': <slot wrapper '__getattribute__' of 'type' objects>, '__setattr__': <slot wrapper '__setattr__' of 'type' objects>, '__delattr__': <slot wrapper '__delattr__' of 'type' objects>, '__init__': <slot wrapper '__init__' of 'type' objects>, '__new__': <built-in method __new__ of type object at 0xa99860>, 'mro': <method 'mro' of 'type' objects>, '__subclasses__': <method '__subclasses__' of 'type' objects>, '__prepare__': <method '__prepare__' of 'type' objects>, '__instancecheck__': <method '__instancecheck__' of 'type' objects>, '__subclasscheck__': <method '__subclasscheck__' of 'type' objects>, '__dir__': <method '__dir__' of 'type' objects>, '__sizeof__': <method '__sizeof__' of 'type' objects>, '__basicsize__': <member '__basicsize__' of 'type' objects>, '__itemsize__': <member '__itemsize__' of 'type' objects>, '__flags__': <member '__flags__' of 'type' objects>, '__weakrefoffset__': <member '__weakrefoffset__' of 'type' objects>, '__base__': <member '__base__' of 'type' objects>, '__dictoffset__': <member '__dictoffset__' of 'type' objects>, '__mro__': <member '__mro__' of 'type' objects>, '__name__': <attribute '__name__' of 'type' objects>, '__qualname__': <attribute '__qualname__' of 'type' objects>, '__bases__': <attribute '__bases__' of 'type' objects>, '__module__': <attribute '__module__' of 'type' objects>, '__abstractmethods__': <attribute '__abstractmethods__' of 'type' objects>, '__dict__': <attribute '__dict__' of 'type' objects>, '__doc__': <attribute '__doc__' of 'type' objects>, '__text_signature__': <attribute '__text_signature__' of 'type' objects>}
type
(<class 'object'>,)

In [29]:
class Point:
  def __init__(self, x=0, y=0):
    self.x = x
    self.y = y
  def __del__(self):
    class_name = self.__class__.__name__
    print(class_name, "destroyed and dead")
  def move(self, dx, dy):
        '''Determines where x and y move'''
        self.x = self.x + dx
        self.y = self.y + dy

In [30]:
pt1 = Point()
pt2 = pt1
pt3 = pt2
print(id(pt1), id(pt2), id(pt3))

140523789504784 140523789504784 140523789504784
Point destroyed and dead

In [31]:
del pt1
del pt2
del pt3

Point destroyed and dead

In [32]:
print(id(pt1), id(pt2), id(pt3))

NameError: ignored

**<h1>Heritage</h2>**

In [33]:
class Parent:
  parentAttr = 100
  def __init__(self):
    print ("calling parent constructor")

  def parent_method(self):
    print("calling parent method")
  def setAttr(self, attr):
    Parent.parentAttr = attr
  def getAttr(self):
    print("parent attr ", Parent.parentAttr)

class Child(Parent):
  def __init__(self):
    print("calling child constructor")
  def child_method(self):
    print("calling child_method")  

c = Child()
c.child_method()
c.parent_method
c.setAttr(200)
c.getAttr()

calling child constructor
calling child_method
parent attr  200